html{
  height: 100%;
  width: 100%;
}

body{
  margin: 0;
  color:chartreuse;
  background-image: url("assets/Plage_BackGround.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;

  height: 100%;
  width: 100%;
}
